/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #8a1fbc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0bc3a7;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #1f4eb3a0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #4181da2f;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #8a1fbc;
}

li:nth-child(odd) {
    background: #d52e8760;
}

li span.completed {
    text-decoration: line-through;
    color: rgb(158, 160, 156);
}

li .edit-btn, li .save-btn, li .delete-btn {
    background: rgb(34, 114, 199);
    border: none;
    cursor: pointer;
    padding:5px;
    font-size: 16px;
    border-radius: 10px;
}

li .delete-btn:hover{
    color: firebrick
}

li .edit-btn:hover, li .save-btn:hover {
    color: #f4f0f0;
}
