body {
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/33582/sunrise-phu-quoc-island-ocean.jpg?cs=srgb&dl=pexels-pixabay-33582.jpg&fm=jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(160, 188, 177, 0.7); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addTaskBtn {
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li .task-text {
    flex: 1;
    padding: 0 10px;
}

li.completed .task-text {
    text-decoration: line-through;
    color: #413e75e7;
}

li button {
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background: #c82333;
}

#clearAllBtn {
    width: 100%;
    padding: 10px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;
}

#clearAllBtn:hover {
    background: #c82333;
}
